.navbar{
    display: inline-block;
    width:5rem;
    list-style: none;
    text-align: center;
    li:hover{
        padding:1rem;
        cursor: pointer;
        color:white;
        background: chocolate;
        border:1px solid chocolate;
        border-radius: 100%;
        
    }
}

