@import '../../commonStyles.scss';

.navbar {
  width: 5rem;
  list-style: none;
  text-align: center;
  li:hover {
    padding: 1rem;
    cursor: pointer;
    color: white;
    background: $primaryColor;
    border-radius: 1rem;
  }
}
