@import '../../commonStyles';

.vehicle-menu {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  p{
    line-height: 2rem;
    color:$primaryColor;
    font-weight: 600;
  }
  input[type="radio"] + label {
    margin: 0rem 0.5rem;
    line-height: 1.5rem;
  }
  input[type="radio"]:checked + label {
    font-weight: 700;
  }
}
